<nav th:fragment="footPart">
  <footer class="footer-area">
    <div class="footer section_padding">
      <div class="container">
        <div class="row justify-content-between">
          <div class="col-xl-2 col-md-4 col-sm-6 single-footer-widget">
            <a href="#" class="footer_logo"> <img src="/img/logo.png" alt="#"> </a>
            <p>老舍，养老照护等级标准与健康风险分析系统</p>
          </div>
          <div class="col-xl-2 col-sm-6 col-md-4 single-footer-widget">
            <h4>参考标准</h4>
            <ul>
              <li><a href="http://www.nbphsp.org.cn/jbgw/jkda/">居民健康档案管理服务规范</a></li>
              <li><a href="http://www.nbphsp.org.cn/jbgw/lnr/">老年人健康管理服务规范</a></li>
              <li><a href="http://www.mca.gov.cn/article/gk/wj/201709/20170915006025.shtml">养老服务标准体系建设指南</a></li>
              <li><a href="http://openstd.samr.gov.cn/bzgk/gb/newGbInfo?hcno=2C11068489F37FE1717286F39DED7A44">养老机构服务质量基本规范</a></li>
            </ul>
          </div>
          <div class="col-xl-2 col-sm-6 col-md-4 single-footer-widget">
            <h4>合作单位</h4>
            <ul>
              <li><a href="http://www.hwadee.com/">四川华迪信息技术有限公司</a></li>
              <li><a href="https://sw.scu.edu.cn/">四川大学软件学院</a></li>
              <li><a href="#">1班第4小组</a></li>
            </ul>
          </div>
          <div class="col-xl-2 col-sm-6 col-md-6 single-footer-widget">
            <h4>官方资源</h4>
            <ul>
              <li><a href="http://www.gov.cn/fuwu/zt/ylfw/zcwj.htm">政策文件</a></li>
              <li><a href="http://www.gov.cn/fuwu/zt/ylfw/bzgf.htm#1">标准规范</a></li>
              <li><a href="http://www.gov.cn/fuwu/zt/ylfw/dffw.htm#2">地方服务</a></li>
              <li><a href="http://www.gov.cn/fuwu/zt/ylfw/qtfw.htm#3">其它服务</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="copyright_part">
      <div class="container">
        <div class="row align-items-center">
          <p class="footer-text m-0 col-lg-8 col-md-12"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="ti-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
          </p>
        </div>
      </div>
    </div>
  </footer>
</nav>
